.descriptionDiv {
  height: 400px;
  width: 100%;
  position: relative;
  background: rgba(72, 101, 129, 0.65);
}

#imageMeContainer {
  height: 100%;
  position: relative;
  overflow: hidden;
}

#imageMeContainer img {
  z-index: -1;
  position: relative;
  width: 100%;
}

@media (max-width: 599px) {
  /*.descriptionDiv {
    height: 365px;
    width: 100%;
    position: relative;
    background: rgba(72, 101, 129, 0.65);
  }*/
  #imageMeContainer {
    display: none;
  }
  .descriptionDiv {
    display: none;
  }
}

@media (min-width: 600px) and (max-width: 950px) {
  .descriptionDiv {
    height: 250px;
    width: 100%;
    position: relative;
    background: rgba(72, 101, 129, 0.65);
  }
}
