.footerDiv {
  background-color: #102a43;
  height: 60px;
  width: 100%;
  border-top: 1px solid #cbd2d9;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.footerDiv p {
  color: #cbd2d9;
  padding: 0px 10px;
  font-size: 20px;
  font-weight: 500;
}

.footerDiv a {
  font-size: 20px;
  color: #cbd2d9;
  font-weight: 500;
  text-decoration: none;
  border-bottom: 2px solid #633399;
  padding-bottom: 0px;
  padding-top: 4px;
}

#footerSub1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 50px;
  text-shadow: 2px 2px 8px hsla(0, 0%, 0%, 0.7);
}

#footerSub2 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 2px 2px 8px hsla(0, 0%, 0%, 0.7);
}

#footerSub3 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 50px;
  text-shadow: 2px 2px 8px hsla(0, 0%, 0%, 0.7);
}

@media (max-width: 599px) {
  .footerDiv {
    background-color: #102a43;
    height: 60px;
    width: 100%;
    border-top: 1px solid #cbd2d9;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 35px;
  }

  #footerSub3 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    text-shadow: 2px 2px 8px hsla(0, 0%, 0%, 0.7);
  }

  #footerSub1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    text-shadow: 2px 2px 8px hsla(0, 0%, 0%, 0.7);
  }
}

@media (min-width: 600px) and (max-width: 899px) {
  .footerDiv {
    background-color: #102a43;
    height: 60px;
    width: 100%;
    border-top: 1px solid #cbd2d9;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 35px;
  }

  #footerSub3 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    text-shadow: 2px 2px 8px hsla(0, 0%, 0%, 0.7);
  }

  #footerSub1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    text-shadow: 2px 2px 8px hsla(0, 0%, 0%, 0.7);
  }
}

@media (min-width: 900px) and (max-width: 1199px) {
  .footerDiv {
    margin-top: 35px;
  }
}

@media (min-width: 1200px) and (max-width: 1800px) {
  .footerDiv {
    margin-top: 35px;
  }
}
